body {
    background-image: url("fondo.jpg");
    background-size: 100%;
}
.btnRedondo
{
    border-radius: 35px;
}
.btnRedondoI {
    border-radius: 35px;
    margin-bottom:5%;
    margin-left:13%;
}
.btnRedondo2 {
    border-radius: 35px;
    margin: 20px;
    text-align: center;
    margin-left:30%;
}
#divNotas
{
    float:left;
    display:none;
}
.divMedio 
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-left: 30%;
    background-color: rgb(255, 255, 255);
    width:40%;
    border-radius: 35px;
    border:  1px solid black;
    float:left;
}

.divMedio2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15%;
    background-color: rgb(255, 255, 255);
    width: 40%;
    border-radius: 35px;
    border: 1px solid black;
    float: left;
}
.ddl {
    font-size: 13px;
    padding: 10px 8px 10px 14px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    position: relative;
    width:80%; 
}

.ddl2 {
    font-size: 13px;
    padding: 10px 8px 10px 14px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    position: relative;
    width: 80%;
    margin-left:20px;
    
}